body {
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 30px 150px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.question p {
  background-color: #303030;
  padding: 8px 16px;
}
p:first-child {
  display: flex;
  justify-content: space-between;
}
p:last-child {
  display: none;
}
.open-q {
  cursor: pointer;
}
